html{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}
body {
    background:rgb(43, 42, 42);

}
.logo {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    padding: 4px;
}

.navbar{
    float: right;
    margin-top: 1%;
    margin-right: 15%;
}
/* Сброс стилей списка */
.navbar ul {  
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    color: #FFF;

    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    

  }
   
  /* Стилизация элементов списка */
  .navbar li {
    display: inline-block;
    margin-right: 20px;
  }
   
  /* Стилизация ссылок */
  .navbar a {
    text-decoration: none;
    color: #ffffff;
  }
   
  /* Стилизация ссылок при наведении */
  .navbar a:hover {
    color: #16db41;
    text-shadow: 14px;
    box-shadow: #16db41;
    
  }
  header{
    background: #980ca5;
  }
  .main{
    margin-top: 10%;
    position: fixed;
    background: #16db41;
  }
  .hello {
    width: 988px;
    height: 271px;
    flex-shrink: 0;
  }
  .hello p {
    color: #FFF;
    font-family: Fraunces;
    font-size: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }